@model ERPIndia.Models.CompanyModel

<section class="content-header">
    <h1>Hospitals</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "SiteMap")"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="@Url.Action("", "Company")">School</a></li>
        <li class="active">@ViewBag.Heading</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><div class="message-box"></div></div>
                <div class="box-body">
                    @using (Ajax.BeginForm("Add", "", new AjaxOptions() { HttpMethod = "POST", OnBegin = "onBeginSubmit", UpdateTargetId = "divPageBody", OnSuccess = "onSuccess" }, new { @class = "form-horizontal" }))
                    {
                @Html.AntiForgeryToken()
                        <div class="form-body" id="mainform">
                            <!-- BEGIN FORM-->
                           <div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.CompanyName) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.CompanyName, new {@title="School Name", @maxlength = "500",@class="form-control" })
										@Html.ValidationMessageFor(model => model.CompanyName, "")
                                        @Html.HiddenFor(model => model.CompanyId)
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.Address1) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.Address1, new {@title="Address1", @maxlength = "250",@class="form-control" })
										@Html.ValidationMessageFor(model => model.Address1, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.Address2)
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.Address2, new {@title="Address2", @maxlength = "250", @class="form-control" })
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.City) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.City, new {@title="City", @maxlength = "50",@class="form-control" })
										@Html.ValidationMessageFor(model => model.City, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.State) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.State, new {@title="State", @maxlength = "50",@class="form-control" })
										@Html.ValidationMessageFor(model => model.State, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.ZipCode) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.ZipCode, new {@title="Zip Code", @maxlength = "20",@class="form-control" })
										@Html.ValidationMessageFor(model => model.ZipCode, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.Email) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.Email, new {@title="Email", @maxlength = "255",@class="emailtxtsize form-control" })
										@Html.ValidationMessageFor(model => model.Email, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.Phone) <span class="required">*</span>
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.Phone, new {@title="Phone", @maxlength = "20",@onkeypress="javascript:return KeyPhone(event);", @class="form-control" })
										@Html.ValidationMessageFor(model => model.Phone, "")
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.Fax)
									</label>

									<div class="col-md-4">
									<div class="input-icon right">
										@Html.TextBoxFor(model => model.Fax, new {@title="Fax", @maxlength = "20", @class="form-control" })
									</div>
								</div>
								</div>
								<div class="form-group">
									<label class="col-md-2 control-label">
										@Html.LabelFor(model => model.IsActive)
									</label>

									<div class="col-md-4">
									<div class="radio-list">
										<label class="radio-inline">
											@Html.RadioButtonFor(model => model.IsActive, "true" , new { @checked = true})Active
										</label>
										<label class="radio-inline">
											@Html.RadioButtonFor(model => model.IsActive, "false" )Inactive
										</label>
									</div>
								</div>
								</div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-9">
                                    <button type="submit" class="btn btn-success btn-flat"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
                                    <button type="reset" class="btn  btn-primary btn-flat" onclick="$(this).resetValidation()"><i class="fa fa-undo"></i>&nbsp;&nbsp;Reset</button>
                                    <a class="btn btn-primary btn-flat" href="@Url.Action("", "Company")"><i class="fa fa-ban"></i>&nbsp;&nbsp;Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
               
            </div>
        </div>
    </div>
        </div>
</section>

<script type="text/javascript">
    $(this.document).ready(function () {
        if ('@ViewBag.ErrorMsg' != null && '@ViewBag.ErrorMsg' != '') {
            notificationMessage('@ViewBag.ErrorMsg', 'danger')
            HRN.hideLoader();
        }
    });

    var onBeginSubmit = function () {
        HRN.showLoader();
    };

    function onSuccess() {
        if ('@ViewBag.ErrorMsg' == null || '@ViewBag.ErrorMsg' == '') {
            HRN.hideLoader();
            window.location.href = '@Url.Action("Index")?status=s';
        }
    }

</script>
