@model List<ERPIndia.Models.ClientModel>

<section class="content-header">
    <h1>Clients</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("", "SiteMap")"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Clients</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="message-box"></div>
                </div>
                <div class="box-body">
                    @Html.Partial("_UCReseller")

                    @Html.Partial("_UCGridTop")

                    <div class="row">
                        <div class="col-md-12 col-sm-12 datagrid">
                            <table cellspacing="1" cellpadding="2" style="width: 100%;" id="dgList" class="table table-striped table-hover table-bordered table-hd">
                                <thead>
                                    <tr class="gridheader">
                                        <td class="search_field" search_field_value="BranchName">Branch Name</td>
                                        <td class="search_field" search_field_value="ClientName">Client Name</td>
                                        <td class="search_field" search_field_value="Address1">Address1</td>
                                        <td class="search_field" search_field_value="Email">Email</td>
                                        <td class="search_field" search_field_value="Phone">Phone</td>
                                        <td style="width: 5%;" class="text-center search_field" search_field_value="IsActive">Status</td>
                                        <td style="width: 5%;" class="text-center">Details</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.Count > 0)
                                    {
                                        for (int i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <td>@Model[i].BranchName</td>
                                                <td>@Model[i].ClientName</td>
                                                <td>@Model[i].Address1</td>
                                                <td>@Model[i].Email</td>
                                                <td>@Model[i].Phone</td>
                                                <td style="width: 5%;" class="text-center">
                                                    @if (@Model[i].IsActive)
                                                    {
                                                        <a  class="SetStatusClick" name="imgInactive" id="imgInactive" style="text-decoration: none" href="javascript:void(0)"><i class='fa fa-check'></i></a>
                                                    }
                                                    else
                                                    {
                                                        <a class="SetStatusClick" name="imgActive" id="imgActive" style="text-decoration: none" href="javascript:void(0)"><i class="fa fa-ban"></i></a>
                                                    }
                                                </td>
                                                <td style="width: 5%;" class="text-center">
                                                    <a href="Client/Details/@Model[i].ClientId" title="Click here to Details"><i class="fa fa-desktop"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            @if (Model == null || Model.Count == 0)
                            {
                                @Html.Partial("_UCNoRecordsMsg")
                            }
                        </div>
                    </div>

                    @Html.Partial("_UCGridBottom")

                </div>
            </div>
        </div>
    </div>
</section>


